.questions
  &__container
    border-radius: 20px
    background: $purple
  &__wrapper
    display: flex
    justify-content: space-between
    max-width: 1420px
    margin: 0 auto
    padding-top: 48px
    padding-bottom: 49px
  &__title
    margin: 0
    margin-bottom: 27px
    font-weight: 700
    font-size: 40px
    line-height: 49px
    color: $white
  &__text
    margin: 0
    margin-bottom: 31px
    font-weight: 500
    font-size: 20px
    line-height: 24px
    color: $white
  &__description
    max-width: 632px
  &__imgs
    position: relative
    flex: 1
  &__img
    position: absolute
    &:nth-child(1)
      left: 369px
      bottom: -50px
      z-index: 7
    &:nth-child(2)
      left: 148px
      bottom: -105px
    &:nth-child(3)
      top: -79px
      right: 38px
    &:nth-child(4)
      top: -89px
      left: 125px
    &:nth-child(5)
      right: -36px
      bottom: -81px
    &:nth-child(6)
      left: 126px
      top: -15px
    &:nth-child(7)
      top: -88px
      left: 256px
  .form-control
    width: 308px
    margin: 0
  .button
    width: 308px
    margin-left: 16px
    background: #F6B31F
    border: none
    height: 42px
    border-radius: 50px
    text-transform: uppercase
    font-weight: 700
    font-size: 16px
    line-height: 20px
    cursor: pointer
    &:hover
      background: $white
      color: $purple
  .accept
    margin: 0
.input-button-wrapper
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 20px
