.videogallery
  &__container
    max-width: 1420px
    padding-top: 91px
    padding-bottom: 160px
  &__title
    margin-bottom: 24px
  &__subtitle
    margin-bottom: 44px
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 24px
    color: #334155

.swiper
  width: 600px
  height: 300px
